*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

.container {
  background-color: #dadada;
  margin: 20px auto;
  width: 90%;
}

h2 {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 25px;
}

h1 {
  margin: 1% 0;
  width: 100%;
  font-size: 35px;
  display: flex;
  flex-wrap: wrap;
  font-family: inherit;
  font-weight: bold;
}

.preview {
  width: 450px;
  height: 400px;
}

.baku {
  background-image: url("../images/baku.jpg");
  background-color: #cccccc;
  background-size: 600px;
}

.london {
  background-image: url("../images/london.png");
  background-color: #cccccc;
  background-size: 600px;
}

.madrid {
  background-image: url("../images/madrid.jpg");
  background-color: #cccccc;
  background-size: 600px;
}

.rome {
  background-image: url("../images/rome.jpg");
  background-color: #cccccc;
  background-size: 600px;
}




@media screen and (min-width: 575px){
   h1 {
     flex: 50%;
     padding: 20px;
  }
}

@media screen and (min-width: 991px){
   h1 {
    flex: 25%;
    padding: 20px;
  }
}
